---
import Layout from '../layouts/Layout.astro';
---

<Layout title="devjohan">
	<main class="flex justify-center items-center h-screen">
		<h1 class="text-white text-9xl ">Testing</h1>
	</main>
</Layout>

<style>
	
</style>
