---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import AboutMe from '../components/AboutMe.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="devjohan">
	<header class="w-full h-[100vh] flex flex-col justify-center items-center">
		<Header/>
		<Welcome/>
	</header>
	<main class="flex flex-col justify-center items-center w-full max-w-screen-xl gap-y-40 py-20">
		<Projects/>
		<AboutMe/>
		<Skills/>
		<Contact/>
	</main>
</Layout>

<style>

	header {
		background: radial-gradient(100% 100% at 50% 0%, #1C1E1F 0%, #000 100%);
	}
	
</style>
