---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import LinkBar from '../components/LinkBar.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="devjohan">
	<Header/>
	<!-- <LinkBar/> -->
	<main class="flex flex-col justify-center items-center h-full">
		<Welcome/>
		<AboutMe/>
		<Skills/>
	</main>
</Layout>

<style>
	
</style>
