
:root {
  --bg: radial-gradient(100% 100% at 50% 0%, #1c1e1f 0%, #121414 100%);  
}

/* General styles */
/* Navbar */
.navlink {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navspan {
  width: 100%;
  justify-content: start;
  margin-left: 0.5rem;
}


/* Change the background from transparent to a gradient with the first scroll*/
@keyframes scrollbg {

  5%{
    background: var(--bg);  
  }

  100%{
    background: var(--bg);  
  }

}

.navbar {
  animation: scrollbg linear;
  animation-timeline: scroll();
}

/* Hover effect of links */

.hvr-underline-from-center {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--accent);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Hamburger icon menu effect */

.hamburger {
cursor: pointer;
}

.hamburger input {
display: none;
}

.hamburger svg {
/* The size of the SVG defines the overall size */
height: 3em;
/* Define the transition for transforming the SVG */
transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
fill: none;
stroke: red;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 3;
/* Define the transition for transforming the Stroke */
transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
stroke-dasharray: 20 300;
stroke-dashoffset: -32.42;
}


/* Responsive design */

@media (width < 768px) {

  /* Change the style of the ul to a lateral navbar */
  
  .navulopen {
    background: var(--bg); 
  }

  .hambugermenuOpen{

    flex-direction: column; 
    height: 100svh;
    position: absolute; 
    right: 0; 
    top: 6rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-top: 1.25rem; 
    gap: 1.25rem; 
    width: 13rem; 
    
    }

}
