---
import profileTest from "../assets/profile-test.png";
import UserIcon from "../assets/icons/userIcon.astro";
import Phone from "../assets/icons/Phone.astro";
import IconSideBar from "./utils/IconSideBar.astro";
import MainLink from "./utils/MainLink.astro";
import SecondaryLink from "./utils/SecondaryLink.astro";
import cvSpanish from "../assets/CV - Johan E. Feliz Ureña - Spanish.pdf";
import cvEnglish from "../assets/CV - Johan E. Feliz Ureña - English.pdf";
---

<section
  id="aboutme"
  class="aboutme w-3/4 h-full flex flex-col justify-center py-20 items-center"
>
  <h2 class="section-header text-5xl relative left-[200px] top-[25px]">
    ABOUT ME
  </h2>

  <div
    class="content flex flex-row w-full h-[30rem] max-h-[30rem] min-w-[53rem] border-2 border-solid border-white border-opacity-10"
  >
    <IconSideBar direction="lg:flex-col" />

    <div class="picture relative bottom-[105px] max-w-[300px] h-fit shrink-0">
      <img src={profileTest.src} alt="Johan's picture" class="" />
    </div>

    <div class="info flex flex-col w-full gap-6 justify-center px-10">
      <div class="header-info text-lg text-accent">
        <h3>22 YEARS / DR / FRONT-END</h3>
      </div>

      <p class="text-sm text-justify text-balance overflow-hidden opacity-75">
        Hello! My name is Johan E. Feliz Ureña, and I'm a passionate
        22-year-old System Engineering student with a focus on web development.
        As a front-end developer, I thrive on crafting beautiful and
        user-friendly interfaces that bring ideas to life. Currently, I'm
        expanding my knowledge in web development to create engaging and
        innovative digital experiences. Whether it's coding a responsive website
        or fine-tuning the user experience, I'm dedicated to delivering
        high-quality results.
      </p>

      <div class="links flex flex-row gap-7">
        <MainLink text="CV" link={cvSpanish} size="default" target="_blank">
          <UserIcon class="size-5" slot="icon" />
        </MainLink>

        <SecondaryLink text="CONTACT" link="#contact" size="default" target="_self">
          <Phone class="size-5" slot="icon" />
        </SecondaryLink>
      </div>
    </div>
  </div>

</section>

<style>
  .content {
    background: #101112;
    box-shadow: 0px 4px 100px 0px #000;
  }

  .section-header {
    font-family: Cera CY Bold;
  }

  p {
    font-family: Cera CY Regular;
  }

  img {
    mask-image: linear-gradient(black, black 60%, transparent 100%);
  }

/* Responsive design */

/* Small screen size */
@media (max-width:768px) {

  .aboutme {
    padding: 10rem 0;
  }
  
  .section-header {
    position: static;
    padding-bottom: 10px;
  }

  .picture {
    position: static;
  }

  p {
   display: flex;
   justify-content: center;
   align-items: center;
   /* padding: 0px 0.5rem; */
   max-width: 80%;
   /* min-width: 20%; */
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:65rem;
    max-height: 65rem;
    max-width: 40rem;
    min-width:20rem;
  }

  .info {
    align-items: center;
  }

  .header-info {
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }




}

/* Medium screen size */
@media (min-width: 768px) and (max-width: 1024px) {

  .aboutme {
    padding: 10rem 0;
  }
  
  .section-header {
    position: static;
    padding-bottom: 10px;
  }

  .picture {
    position: static;
  }

  p {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 2rem;
   max-width: 80%;
   min-width: 80%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60rem;
    max-height: 60rem;
    max-width: 40rem;
    min-width:30rem;
  }

  .info {
    align-items: center;
  }

  .header-info {
    text-align: center;
  }

  .links {
    justify-content: center;
    align-items: center;
  }



}




</style>