---
import Email from "../assets/icons/Email.astro";
import Copy from "../assets/icons/Copy.astro";
import logo from "../assets/logo.png";
import IconSideBar from "./utils/IconSideBar.astro";
---

<footer
  class="w-full flex flex-row justify-center items-center h-[200px] max-h-[200px] gap-20"
>
  <div class="logo w-28">
    <img src={logo.src} alt="My logo" />
  </div>

  <div class="email flex flex-row justify-center items-center gap-1">
    <button type="button">
      <Email class="fill-white size-7" />
    </button>
    <h5 class="bg-accent-2 py-1 px-5 rounded-lg">dev.johanefelizu@gmail.com</h5>
    <button type="button">
      <Copy class="fill-white size-7" />
    </button>
  </div>

  <nav>
    <ul class="flex flex-col justify-center items-center text-sm">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#aboutme">About me</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <IconSideBar />
</footer>

<style>
  h5 {
    font-family: Cera CY Regular;
  }

  footer {
    border-radius: 3.125rem 3.125rem 0rem 0rem;
    background: linear-gradient(
      177deg,
      #ba2222 -17.03%,
      rgba(0, 0, 0, 0) 135.36%
    );
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  a {
    padding: 5px;
    transition: ease 0.5s;
  }

  li {
    padding: 5px;
  }

  nav ul li a:hover {
    background-color: rgba(209, 209, 209, 0.13);
    transition: ease 0.5s;
  }
</style>
