---

---

<header class="flex flex-row justify-between items-center w-[1280px] max-w-screen-xl h-[10vh] py-6">

  <span class="text-accent text-xl">DEV.JOHAN</span>

  <nav>

    <ul class="flex space-x-10">
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">ABOUT ME</a>
      </li>
      <li>
        <a href="#">PROJECTS</a>
      </li>
      <li>
        <a href="#">CONTACT</a>
      </li>
    </ul>

  </nav>


</header>



<style>

  span {
    font-family: "Cera CY Bold";
  }
	
</style>