---
---


<aside class=" w-full sticky">

  <ul class="flex flex-col justify-center items-start">
    <li>
      <a href="#"><i class="fi fi-brands-github"></i></a>
    </li>
    <li>
      <a href="#"><i class="fi fi-brands-linkedin"></i></a>
    </li>
    <li>
      <a href="#"><i class="fi fi-brands-twitter-alt"></i></a>
    </li>
  </ul>

</aside>




<style>

@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');

i {
  font-size: 40px;
}

</style>