---
---


<aside class=" w-full sticky">

  <ul class="flex flex-col justify-center items-start">
    <li>
      <a href="#"><i class="fi fi-brands-github"></i></a>
    </li>
    <li>
      <a href="#"><i class="fi fi-brands-linkedin"></i></a>
    </li>
    <li>
      <a href="#"><i class="fi fi-brands-twitter-alt"></i></a>
    </li>
  </ul>

</aside>




<style>

i {
  font-size: 40px;
}

</style>