<section
  class="skills-container h-screen w-full flex flex-col justify-center items-center"
>
  <div
    class="content flex flex-col justify-center items-center w-[1500px] h-[580px] max-w-[1500px] max-h-[580px] gap-10"
  >
    <h1 class="section-header text-8xl text-accent">SKILLS</h1>

    <div class="skills-icon flex flex-row space-x-5">
      <svg
        class="html w-36 h-36 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="m3 2 1.578 17.824L12 22l7.467-2.175L21 2H3Zm14.049 6.048H9.075l.172 2.016h7.697l-.626 6.565-4.246 1.381-4.281-1.455-.288-2.932h2.024l.16 1.411 2.4.815 2.346-.763.297-3.005H7.416l-.562-6.05h10.412l-.217 2.017Z"
        ></path>
      </svg>

      <svg
        class="css w-36 h-36 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="m3 2 1.578 17.834L12 22l7.468-2.165L21 2H3Zm13.3 14.722-4.293 1.204H12l-4.297-1.204-.297-3.167h2.108l.15 1.526 2.335.639 2.34-.64.245-3.05h-7.27l-.187-2.006h7.64l.174-2.006H6.924l-.176-2.006h10.506l-.954 10.71Z"
        ></path>
      </svg>

      <svg
        class="tailwind w-36 h-36"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0,0,256,256"
      >
        <g
          fill="#ffffff"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
          ><g transform="scale(5.33333,5.33333)"
            ><path
              d="M24,9.604c-6.4,0 -10.4,3.199 -12,9.597c2.4,-3.199 5.2,-4.398 8.4,-3.599c1.826,0.456 3.131,1.781 4.576,3.247c2.352,2.387 5.075,5.151 11.024,5.151c6.4,0 10.4,-3.199 12,-9.598c-2.4,3.199 -5.2,4.399 -8.4,3.6c-1.825,-0.456 -3.13,-1.781 -4.575,-3.247c-2.353,-2.388 -5.077,-5.151 -11.025,-5.151zM12,24c-6.4,0 -10.4,3.199 -12,9.598c2.4,-3.199 5.2,-4.399 8.4,-3.599c1.825,0.457 3.13,1.781 4.575,3.246c2.353,2.388 5.077,5.152 11.025,5.152c6.4,0 10.4,-3.199 12,-9.598c-2.4,3.199 -5.2,4.399 -8.4,3.599c-1.826,-0.456 -3.131,-1.781 -4.576,-3.246c-2.352,-2.388 -5.075,-5.152 -11.024,-5.152z"
            ></path></g
          ></g
        >
      </svg>

      <svg
        class="js w-36 h-36"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0,0,256,256"
      >
        <g
          fill="#ffffff"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
          ><g transform="scale(5.12,5.12)"
            ><path
              d="M43.33594,4h-36.66797c-1.47266,0 -2.66797,1.19531 -2.66797,2.66797v36.66406c0,1.47266 1.19531,2.66797 2.66797,2.66797h36.66406c1.47266,0 2.66797,-1.19531 2.66797,-2.66406v-36.66797c0,-1.47266 -1.19531,-2.66797 -2.66406,-2.66797zM27,36.18359c0,3.99609 -2.34375,5.81641 -5.76562,5.81641c-3.09375,0 -5.32422,-2.07422 -6.23437,-4l3.14453,-1.90234c0.60547,1.07422 1.52734,1.90234 2.85547,1.90234c1.26953,0 2,-0.49609 2,-2.42578v-12.57422h4zM35.67578,42c-3.54297,0 -5.55469,-1.78516 -6.67578,-4l3,-2c0.81641,1.33594 1.70703,2.61328 3.58984,2.61328c1.58203,0 2.41016,-0.78906 2.41016,-1.88281c0,-1.30469 -0.85937,-1.76953 -2.59766,-2.53125l-0.95312,-0.41016c-2.75391,-1.17187 -4.58594,-2.64062 -4.58594,-5.75c0,-2.85937 2.18359,-5.03906 5.58984,-5.03906c2.42578,0 4.16797,0.84375 5.42578,3.05469l-2.96875,1.91016c-0.65625,-1.17578 -1.35937,-1.63672 -2.45703,-1.63672c-1.11719,0 -1.82422,0.71094 -1.82422,1.63672c0,1.14453 0.70703,1.60547 2.34375,2.31641l0.95313,0.41016c3.24609,1.38672 5.07422,2.80469 5.07422,5.99219c0,3.43359 -2.69922,5.31641 -6.32422,5.31641z"
            ></path></g
          ></g
        >
      </svg>

      <svg
        class="react w-36 h-36 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M21.718 12c0-1.429-1.339-2.681-3.467-3.5.029-.18.077-.37.1-.545.217-2.058-.273-3.543-1.379-4.182-1.235-.714-2.983-.186-4.751 1.239C10.45 3.589 8.7 3.061 7.468 3.773c-1.107.639-1.6 2.124-1.379 4.182.018.175.067.365.095.545-2.127.819-3.466 2.071-3.466 3.5 0 1.429 1.339 2.681 3.466 3.5-.028.18-.077.37-.095.545-.218 2.058.272 3.543 1.379 4.182.376.213.803.322 1.235.316a5.987 5.987 0 0 0 3.514-1.56 5.992 5.992 0 0 0 3.515 1.56 2.44 2.44 0 0 0 1.236-.316c1.106-.639 1.6-2.124 1.379-4.182-.019-.175-.067-.365-.1-.545 2.132-.819 3.471-2.071 3.471-3.5Zm-6.01-7.548a1.5 1.5 0 0 1 .76.187c.733.424 1.055 1.593.884 3.212-.012.106-.043.222-.058.33-.841-.243-1.7-.418-2.57-.523a16.165 16.165 0 0 0-1.747-1.972 4.9 4.9 0 0 1 2.731-1.234Zm-7.917 8.781c.172.34.335.68.529 1.017.194.337.395.656.6.969a14.09 14.09 0 0 1-1.607-.376 14.38 14.38 0 0 1 .478-1.61Zm-.479-4.076a14.085 14.085 0 0 1 1.607-.376c-.205.313-.405.634-.6.969-.195.335-.357.677-.529 1.017-.19-.527-.35-1.064-.478-1.61ZM8.3 12a19.32 19.32 0 0 1 .888-1.75c.33-.568.69-1.118 1.076-1.65.619-.061 1.27-.1 1.954-.1.684 0 1.333.035 1.952.1a19.63 19.63 0 0 1 1.079 1.654c.325.567.621 1.15.887 1.746a18.869 18.869 0 0 1-1.953 3.403 19.218 19.218 0 0 1-3.931 0 20.169 20.169 0 0 1-1.066-1.653A19.324 19.324 0 0 1 8.3 12Zm7.816 2.25c.2-.337.358-.677.53-1.017.191.527.35 1.065.478 1.611a14.48 14.48 0 0 1-1.607.376c.202-.314.404-.635.597-.97h.002Zm.53-3.483c-.172-.34-.335-.68-.53-1.017a20.214 20.214 0 0 0-.6-.97c.542.095 1.078.22 1.606.376a14.111 14.111 0 0 1-.478 1.611h.002ZM12.217 6.34c.4.375.777.773 1.13 1.193-.37-.02-.746-.033-1.129-.033s-.76.013-1.131.033c.353-.42.73-.817 1.13-1.193Zm-4.249-1.7a1.5 1.5 0 0 1 .76-.187 4.9 4.9 0 0 1 2.729 1.233A16.253 16.253 0 0 0 9.71 7.658c-.87.105-1.728.28-2.569.524-.015-.109-.047-.225-.058-.331-.171-1.619.151-2.787.885-3.211ZM3.718 12c0-.9.974-1.83 2.645-2.506.218.857.504 1.695.856 2.506-.352.811-.638 1.65-.856 2.506C4.692 13.83 3.718 12.9 3.718 12Zm4.25 7.361c-.734-.423-1.056-1.593-.885-3.212.011-.106.043-.222.058-.331.84.243 1.697.418 2.564.524a16.37 16.37 0 0 0 1.757 1.982c-1.421 1.109-2.714 1.488-3.494 1.037Zm3.11-2.895c.374.021.753.034 1.14.034.387 0 .765-.013 1.139-.034a14.4 14.4 0 0 1-1.14 1.215 14.248 14.248 0 0 1-1.139-1.215Zm5.39 2.895c-.782.451-2.075.072-3.5-1.038a16.248 16.248 0 0 0 1.757-1.981 16.41 16.41 0 0 0 2.565-.523c.015.108.046.224.058.33.175 1.619-.148 2.789-.88 3.212Zm1.6-4.854A16.563 16.563 0 0 0 17.216 12c.352-.812.638-1.65.856-2.507 1.671.677 2.646 1.607 2.646 2.507 0 .9-.975 1.83-2.646 2.507h-.004Z"
        ></path>
        <path
          d="M12.215 13.773a1.792 1.792 0 1 0-1.786-1.8v.006a1.787 1.787 0 0 0 1.786 1.794Z"
        ></path>
      </svg>

      <svg
        class="astro w-36 h-36"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0,0,256,256"
      >
        <defs
          ><linearGradient
            x1="32.414"
            y1="44.02"
            x2="32.414"
            y2="3"
            gradientUnits="userSpaceOnUse"
            id="color-1_kXuRhjMIeKhk_gr1"
            ><stop offset="0" stop-color="#ffffff"></stop><stop
              offset="1"
              stop-color="#ffffff"></stop></linearGradient
          ><linearGradient
            x1="32.376"
            y1="64"
            x2="32.376"
            y2="7"
            gradientUnits="userSpaceOnUse"
            id="color-2_kXuRhjMIeKhk_gr2"
            ><stop offset="0" stop-color="#ffffff"></stop><stop
              offset="1"
              stop-color="#ffffff"></stop></linearGradient
          ></defs
        ><g
          fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
          ><g transform="scale(4,4)"
            ><path
              d="M8.631,44.021c-0.242,0 -0.482,-0.088 -0.67,-0.258c-0.303,-0.273 -0.409,-0.703 -0.269,-1.086c6.221,-16.95 13.643,-37.17 13.671,-37.242c0.765,-2.01 1.985,-2.435 2.871,-2.435h16.36c1.273,0 2.324,0.9 2.885,2.469c0.099,0.273 13.656,37.207 13.656,37.207c0.146,0.397 0.025,0.843 -0.3,1.114c-0.324,0.271 -0.786,0.307 -1.15,0.09c-0.063,-0.038 -6.445,-3.769 -15.563,-3.769c-0.434,0 -0.818,-0.28 -0.951,-0.692l-6.068,-18.781c-0.131,-0.51 -0.412,-0.833 -0.688,-0.833c-0.276,0 -0.558,0.323 -0.67,0.769l-6.087,18.846c-0.133,0.413 -0.518,0.692 -0.951,0.692c-7.715,0 -15.56,3.771 -15.638,3.809c-0.139,0.066 -0.29,0.1 -0.438,0.1zM24.234,5c-0.468,0 -0.807,0.631 -1.008,1.161c-0.113,0.303 -9.943,27.086 -12.854,35.017c2.856,-1.137 8.137,-2.909 13.603,-3.058l5.849,-18.099c0.323,-1.301 1.372,-2.218 2.591,-2.218c1.219,0 2.268,0.917 2.609,2.282l5.829,18.032c6.083,0.123 10.881,1.748 13.545,2.901c-3.887,-10.585 -12.78,-34.811 -12.804,-34.88c-0.151,-0.423 -0.483,-1.138 -0.999,-1.138z"
              fill="url(#color-1_kXuRhjMIeKhk_gr1)"></path><path
              d="M25.049,7h14.731c0.305,0.832 1.979,5.397 11.267,30.697c-2.399,-0.708 -5.356,-1.327 -8.721,-1.522l-5.393,-16.69c-0.595,-2.173 -2.438,-3.68 -4.52,-3.68c-2.082,0 -3.925,1.507 -4.52,3.68l-5.399,16.71c-3.193,0.237 -6.26,0.945 -8.79,1.709c3.687,-10.043 10.655,-29.03 11.345,-30.904zM24.098,55.103c0.038,-0.14 0.075,-0.26 0.101,-0.381c0.339,-1.575 1.619,-2.575 3.236,-2.528c1.576,0.046 2.413,0.844 2.656,2.626c0.1,0.731 0.1,1.479 0.11,2.221c0.021,1.524 0.414,2.932 1.242,4.205c0.783,1.206 1.812,2.124 3.22,2.754c-0.056,-0.189 -0.078,-0.266 -0.102,-0.344c-1.036,-3.178 -0.29,-5.363 2.467,-7.227c0.897,-0.606 1.817,-1.181 2.686,-1.824c2.173,-1.608 3.539,-3.728 3.861,-6.474c0.132,-1.127 0.034,-2.235 -0.345,-3.332c-0.504,0.306 -0.93,0.608 -1.391,0.835c-4.03,1.983 -8.291,2.228 -12.63,1.572c-2.81,-0.425 -5.523,-1.179 -7.482,-3.557c-1.129,3.772 -0.338,8.978 2.373,11.456z"
              fill="url(#color-2_kXuRhjMIeKhk_gr2)"></path></g
          ></g
        >
      </svg>

      <svg
        class="git w-36 h-36 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          fill-rule="evenodd"
          d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z"
          clip-rule="evenodd"></path>
      </svg>
    </div>

    <h2 class="text-6xl text-accent">LANGUAGES</h2>

    <p class="text-4xl">SPANISH & ENGLISH</p>
  </div>
</section>

<style>
  .content {
    background: #101112;
    box-shadow: 0px 4px 100px 0px #000;
  }

  h1,
  h2 {
    font-family: Cera CY Bold;
  }
</style>
