---

// UX/UI Section imports
import UxuiIcon from "../assets/icons/uxuiIcon.astro";
import FigmaIcon from "../assets/icons/FigmaIcon.astro";

// Front-end section imports
import Code from "../assets/icons/Code.astro";
import HtmlIcon from "../assets/icons/HtmlIcon.astro";
import CssIcon from "../assets/icons/CssIcon.astro";
import TailwindIcon from "../assets/icons/TailwindIcon.astro";
import JavascriptIcon from "../assets/icons/JavascriptIcon.astro";
import ReactIcon from "../assets/icons/ReactIcon.astro";
import AstroIcon from "../assets/icons/AstroIcon.astro";

// Tools section imports 
import ToolsIcon from "../assets/icons/Tools.astro";
import GitIcon from "../assets/icons/GitIcon.astro";


---

<section class="skills w-full h-full flex flex-row justify-center items-center gap-20 border-y-2 border-solid border-white border-opacity-10 py-24">

    <div class="uxui flex flex-col justify-center items-center space-y-4">

      <h2 class="flex fle-row justify-center items-center gap-2 text-2xl text-white opacity-90">
        <UxuiIcon class=" fill-white size-8"/>
        UX/UI DESIGN
      </h2>
      <div class="icons fill-white opacity-50 space-x-5">

        <FigmaIcon class="size-10"/>
  
      </div>
    </div>


    <div class="front-end flex flex-col justify-center items-center space-y-4">

      <h2 class="flex fle-row justify-center items-center gap-2 text-2xl text-white opacity-90">
        <Code class="fill-white size-8"/>
        FRONT-END
      </h2>
      <div class="icons flex flex-row justify-center items-center fill-white opacity-50 space-x-2">

        <HtmlIcon class="size-10"/>
        <CssIcon class="size-10"/>
        <TailwindIcon class="size-10"/>
        <JavascriptIcon class="size-10"/>
        <ReactIcon class="size-10"/>
        <AstroIcon class="size-10"/>

      </div>
    </div>
    
    <div class="tools flex flex-col justify-center items-center space-y-4">

      <h2 class="flex fle-row justify-center items-center gap-2 text-2xl text-white opacity-90">
        <ToolsIcon class="fill-white size-8"/>
        TOOLS
      </h2>
      <div class="icons flex flex-row justify-center items-center fill-white opacity-50 space-x-2">

        <GitIcon class="size-10"/>

      </div>
    </div>

</section>

<style>

  h1,
  h2 {
    font-family: Cera CY Bold;
  }

</style>
