---

---



<div class=" Welcome h-full flex flex-col justify-center">

  <span class="text-accent text-3xl greeting">
      HI, I AM
  </span>
  
  <h1 class="text-[300px] text-center">JOHAN</h1>
  
  <h2 class="text-accent text-3xl text-end rol">FRONT-END DEVELOPER</h2>

  <div class="actions-links flex flex-row  justify-end space-x-5 px-4">
    <a href="#" class="main-link">CV</a>
    <a href="#" class="secondary-link">CONTACT</a>
  </div>

</div>







<style>


.main-link {

  color: black;
  background-color: var(--accent);
  filter: drop-shadow(0px 4px 20px #000);
  width:233px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}

.secondary-link {

  color: var(--accent);
  background-color: var(--accent-2);
  filter: drop-shadow(0px 4px 20px #000);
  width:233px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;


}

.greeting {
  position: relative;
  top:100px;
  left:50px;
}

.rol {

  position: relative;
  bottom: 75px;
  right: 20px;

}

.actions-links {
  position: relative;
  bottom:40px;

}


</style>