---
import profile from "../assets/profile.jpg";
import profileTest from "../assets/profile-test.png";
import IconSideBar from "./utils/IconSideBar.astro";

import MainLink from "./utils/MainLink.astro";
import SecondaryLink from "./utils/SecondaryLink.astro";

import UserIcon from "../assets/icons/userIcon.astro";
import Phone from "../assets/icons/Phone.astro";
import cvSpanish from "../assets/CV - Johan E. Feliz Ureña - Spanish.pdf";
import cvEnglish from "../assets/CV - Johan E. Feliz Ureña - English.pdf";


---

<section
  class="welcome h-full w-full flex flex-col justify-center items-center"
>
  <div class="content flex flex-row justify-center items-center h-[500px] max-w-screen-xl gap-8">
   
      <div class="left-column flex flex-col gap-2">
        <h1 class="text-7xl">
          HI, I AM <span class="text-accent">JOHAN</span>
        </h1>
        <h2 class="text-4xl opacity-40">FRONT-END DEVELOPER</h2>
        
        <div class="buttons flex flex-row space-x-7 pl-1 pt-3">
          <MainLink text="CV" link={cvSpanish} size="default" target="_blank">
            <UserIcon class="size-5" slot="icon" />
          </MainLink>
          
          <SecondaryLink text="CONTACT" link="#contact" size="default" target="_self">
            <Phone class="size-5" slot="icon" />
          </SecondaryLink>
        </div>
      </div>

      <div class="right-column flex flex-row justify-center items-center">
        <div class="picture max-w-[300px] shrink-0">
          <img src={profile.src} alt="Johan's picture" class="w-full h-full" />
        </div>

        <IconSideBar direction="flex-col" />
      </div>
   
  </div>

</section>

<style>

  .picture img {
    box-shadow: 0px 4px 50px 0px #000;
  }

  /* Responsive design */

  /* Small screen size */
  @media (max-width:768px) {

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .picture {
      width: 220px;
    }

    h1 {
      text-align: center;
      font-size: 50px;
    }

    h2 {
      text-align: center;
      font-size:30px;
    }
  }

  /* Medium screen size */
  @media (min-width: 768px) and (max-width: 1024px) {

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  h1,h2 {
    text-align: center;
  }

  .buttons {
    justify-content: center;
    align-items: center;
  }

}




</style>