---


---



<section class="Welcome h-screen flex flex-col justify-center">

  <span class="text-accent text-3xl relative top-[100px] left-[50px]">
      HI, I AM
  </span>
  
  <h1 class="text-[300px] text-center">JOHAN</h1>
  
  <h2 class="text-accent text-3xl text-end relative bottom-[75px] right-[25px]">FRONT-END DEVELOPER</h2>

  <div class="relative bottom-[40px] flex flex-row justify-end space-x-5 px-4">
    <a href="#" class="main-link hvr-bounce-to-right ">CV</a>
    <a href="#" class="secondary-link hvr-bounce-to-right2">CONTACT</a>
  </div>

</section>







<style>


</style>