---


---

<section class="welcome h-[90vh] w-full flex flex-col justify-center items-center">


  <div class=" content flex flex-col justify-center max-w-screen-xl">
   
    <span class="text-accent text-2xl relative top-[85px] left-[35px]">
        HI, I AM
    </span>
    
    <h1 class="text-[200px] text-center">JOHAN</h1>
    
    <h2 class="text-accent text-2xl text-end relative bottom-[60px] right-[14px]">FRONT-END DEVELOPER</h2>
  
    <div class="relative bottom-[40px] flex flex-row justify-end space-x-5 px-4">
      <a href="#" class="main-link hvr-bounce-to-right w-56 h-14 text-2xl">CV</a>
      <a href="#" class="secondary-link hvr-bounce-to-right2 w-56 h-14 text-2xl">CONTACT</a>
    </div>
    
  </div>


</section>

<style>

  .welcome {
    background: radial-gradient(100% 100% at 50% 0%, #1C1E1F 0%, #000 100%);
  }

</style>