---
import GitIcon from "../../assets/icons/GitIcon.astro";
import LinkedinIcon from "../../assets/icons/LinkeinIcon.astro";
import TwitterIcon from "../../assets/icons/TwitterIcon.astro";
---

<div class="sidebar flex flex-col justify-center items-center px-5 gap-5">

  <a href="https://github.com/Johanfeliz08" target="_blank">
    <GitIcon class="link-icon fill-white size-7"/>
  </a>
  <a href="https://www.linkedin.com/in/johan-e-feliz-ure%C3%B1a-b24649296/" target="_blank">
    <LinkedinIcon class="link-icon fill-white size-7"/>
  </a>
  <a href="https://twitter.com/devjohan08" target="_blank">
    <TwitterIcon class="link-icon fill-white size-7"/>
  </a>

</div>

<style>

.sidebar > a .link-icon {

transform: scale(1,1);
transition:ease 0.5s;

}

.sidebar > a:hover .link-icon {

fill: var(--accent);
transform: scale(1.5,1.5);
transition:ease 0.5s;

}

</style>